.controller {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

header {
  margin: 0;
  padding: 20px 0;
  width: 100%;
  height: fit-content;
  color: #fff;
}
.control-btn {
  width: 120px;
  padding: 10px 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.enable-btn {
  background-color: rgb(26, 184, 26);
  color: #fff;
  border-bottom: 5px solid rgb(18, 131, 18);
  margin: 10px;
}

.enable-btn:hover {
  border-bottom: none;
  margin-top: 15px;
}
.disable-btn {
  margin: 10px;
  background-color: rgb(172, 25, 25);
  color: #fff;
  border-bottom: 5px solid rgb(184, 57, 57);
}
.disable-btn:hover {
  border-bottom: none;
  margin-top: 15px;
}
.username-btn {
  width: 200px;
  margin: 10px auto;
  padding: 10px 0;
}
input {
  width: 200px;
  padding: 10px;
  margin: 10px auto;
}

#username-div {
  display: none;
}
#username-label {
  width: 200px;
  height: fit-content;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: rgb(202, 202, 202);
  border-radius: 8px;
  cursor: pointer;
}

/* My styles */
.colored-circle {
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
}

.small-circle {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.top-left {
  position: absolute;
  top: 10px;
  left: 10px;
}
